
<div class="span2 main-menu-span">
    <div class="nav-collapse sidebar-nav">
        <ul class="nav nav-tabs nav-stacked main-menu">
            <li><a href="/home"><i class="fa-icon-bar-chart icon-white"></i><span class="hidden-tablet"> Home</span></a></li>
            <li><a href="/home"><i class="fa-icon-tags icon-white"></i><span class="hidden-tablet"> Link1</span></a></li>
            <li><a href="/home"><i class="fa-icon-time icon-white"></i><span class="hidden-tablet"> Link2</span></a></li>
        </ul>
    </div>
</div>
