<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    <section name="quartz" 
             type="System.Configuration.NameValueSectionHandler, 
             System, Version=1.0.5000.0,Culture=neutral, 
             PublicKeyToken=b77a5c561934e089" />
  </configSections>
    <appSettings>
        
    <add key="mongo.views_connection_string" value="mongodb://admin(admin):1@localhost:27020/dqf_view" />
    <add key="mongo.events_connection_string" value="mongodb://admin(admin):1@localhost:27020/dqf_events" />
    <add key="mongo.logs_connection_string" value="mongodb://admin(admin):1@localhost:27020/dqf_logs" />
    <add key="HtmlToPdfToolPath" value="tools\htmlToPdf\wkhtmltopdf.exe" />
    <add key="google.api_key" value="AIzaSyDgFiAaADZYXbbnJ-curAoUCXiWdD2L6-g" />
    <add key="sendgrid.username" value="ea14665a-bab7-421d-88b2-a9cfc2854806@apphb.com" />
    <add key="sendgrid.password" value="w4ygvibl" />
    <add key="AmazonSecretKey" value="L+BeRhtGktMrkJTeXmSAG8dXxH3W72uX4TLV7S8b" />
    <add key="AmazonAccessKey" value="AKIAJ6XP5W3RAK5NYDGA" />

    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
     <quartz>
    <add key="quartz.scheduler.instanceName" value="ServerScheduler" />
    <add key="quartz.threadPool.type" value="Quartz.Simpl.SimpleThreadPool, Quartz" />
    <add key="quartz.threadPool.threadCount" value="10" />
    <add key="quartz.threadPool.threadPriority" value="2" />
    <add key="quartz.jobStore.misfireThreshold" value="60000" />
    <add key="quartz.jobStore.type" value="Quartz.Simpl.RAMJobStore, Quartz" />
  </quartz>
</configuration>