<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="mongo.views_connection_string" value="mongodb://admin(admin):1@localhost:27020/dqf_view" />
    <add key="mongo.events_connection_string" value="mongodb://admin(admin):1@localhost:27020/dqf_events" />
    <add key="mongo.logs_connection_string" value="mongodb://admin(admin):1@localhost:27020/dqf_logs" />
    <add key="HtmlToPdfToolPath" value="tools\htmlToPdf\wkhtmltopdf.exe" />
    <add key="google.api_key" value="AIzaSyDgFiAaADZYXbbnJ-curAoUCXiWdD2L6-g" />
    <add key="sendgrid.username" value="ea14665a-bab7-421d-88b2-a9cfc2854806@apphb.com" />
    <add key="sendgrid.password" value="w4ygvibl" />
    <add key="AmazonSecretKey" value="L+BeRhtGktMrkJTeXmSAG8dXxH3W72uX4TLV7S8b" />
    <add key="AmazonAccessKey" value="AKIAJ6XP5W3RAK5NYDGA" />
  </appSettings>
</configuration>