<?xml version="1.0" encoding="utf-8" ?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <connectionStrings>
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
      <add key="UnobtrusiveJavaScriptEnabled" value="true" />
        
    <add key="mongo.views_connection_string" value="mongodb://admin(admin):1@localhost:27020/dqf_view" />
    <add key="mongo.events_connection_string" value="mongodb://admin(admin):1@localhost:27020/dqf_events" />
    <add key="mongo.logs_connection_string" value="mongodb://admin(admin):1@localhost:27020/dqf_logs" />
    <add key="HtmlToPdfToolPath" value="tools\htmlToPdf\wkhtmltopdf.exe" />
    <add key="google.api_key" value="AIzaSyDgFiAaADZYXbbnJ-curAoUCXiWdD2L6-g" />
    <add key="sendgrid.username" value="ea14665a-bab7-421d-88b2-a9cfc2854806@apphb.com" />
    <add key="sendgrid.password" value="w4ygvibl" />
    <add key="AmazonSecretKey" value="L+BeRhtGktMrkJTeXmSAG8dXxH3W72uX4TLV7S8b" />
    <add key="AmazonAccessKey" value="AKIAJ6XP5W3RAK5NYDGA" />

  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MongoDB.Driver" publicKeyToken="f686731cfb9cc103" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.0.4624" newVersion="1.6.0.4624" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MongoDB.Bson" publicKeyToken="f686731cfb9cc103" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.0.4624" newVersion="1.6.0.4624" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
