<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="mongo.views_connection_string" value="mongodb://appharbor_37cf16ab-c699-439c-b0ae-3e0a155386cf:6rtf5fkta1pppmo0gdssp4fc90@ds045757.mongolab.com:45757/appharbor_37cf16ab-c699-439c-b0ae-3e0a155386cf" />
    <add key="mongo.events_connection_string" value="mongodb://appharbor_4426f720-912f-4512-ac58-8ff2287e83d4:hta38pk6ptjqoof39v2estq73c@ds045757.mongolab.com:45757/appharbor_4426f720-912f-4512-ac58-8ff2287e83d4" />
    <add key="mongo.logs_connection_string" value="mongodb://appharbor_75c88672-d20b-45b3-a42d-f9d0fb7f70e1:kg2cv9572a9bc7vonjbladc274@ds045507.mongolab.com:45507/appharbor_75c88672-d20b-45b3-a42d-f9d0fb7f70e1" />
    <add key="HtmlToPdfToolPath" value="tools\htmlToPdf\wkhtmltopdf.exe" />
    <add key="google.api_key" value="AIzaSyDgFiAaADZYXbbnJ-curAoUCXiWdD2L6-g" />
  </appSettings>
</configuration>