<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="mongo.views_connection_string" value="mongodb://admin(admin):1@localhost:27020/dqf_view" />
    <add key="mongo.events_connection_string" value="mongodb://admin(admin):1@localhost:27020/dqf_events" />
    <add key="mongo.logs_connection_string" value="mongodb://admin(admin):1@localhost:27020/dqf_logs" />
    <add key="HtmlToPdfToolPath" value="tools\htmlToPdf\wkhtmltopdf.exe" />
    <add key="google.api_key" value="AIzaSyDgFiAaADZYXbbnJ-curAoUCXiWdD2L6-g" />
  </appSettings>
</configuration>